<a href="https://colab.research.google.com/github/SoheeKim12/Python_Programming_Study/blob/main/pandas_exercises/06_Stats/US_Baby_Names/Exercises_sh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [8]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [78]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/kjh8331267/Python_Programming_Study/main/pandas_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep=',')

### Step 4. See the first 10 entries

In [79]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [80]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [81]:
baby_names.Gender.value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [82]:
del baby_names['Year']

In [83]:
names = baby_names.groupby('Name').sum()

In [84]:
names.sort_values("Count", ascending = 0).head()

,Gender,State,Count
Name,,,
Jacob,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,242874
Emma,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214852
Michael,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214405
Ethan,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,209277
Isabella,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,204798

### Step 8. How many different names exist in the dataset?

In [85]:
baby_names['Name'].nunique()

17632

In [67]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [86]:
names.Count.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [87]:
len(names[names.Count == names.Count.min()])

2578

In [45]:
#baby_names['Name'].value_counts().tail()

Name
Terryn     1
Yanna      1
Zemirah    1
Emmilyn    1
Coalton    1
Name: count, dtype: int64

### Step 11. What is the median name occurrence?

In [88]:
names[names.Count == names.Count.median()]

           Gender             State  Count
Name
Aishani   FFFFFFF    CACACACACAILNJ     49
Alara    FFFFFFFF  CACACAFLNYNYNYTX     49
Alysse   FFFFFFFF  CACACAMINYTXTXTX     49
Ameir    MMMMMMMM  CAMIMIMIMIMINYOH     49
Anely    FFFFFFFF  CACACACACACACACA     49
...           ...               ...    ...
Sriram    MMMMMMM    CACACACACACATX     49
Trinton  MMMMMMMM  FLLAOKTXTXTXTXTX     49
Vita      FFFFFFF    CACACACACANYNY     49
Yoni     MMMMMMMM  CACACACACACAFLFL     49
Zuleima   FFFFFFF    AZCACACACACACA     49

[66 rows x 3 columns]

### Step 12. What is the standard deviation of names?

In [89]:
names.Count.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [73]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000