<a href="https://colab.research.google.com/github/SoheeKim12/Python_Programming_Study/blob/main/pandas_exercises/06_Stats/US_Baby_Names/Exercises_sh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [8]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [57]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/kjh8331267/Python_Programming_Study/main/pandas_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep=',')

### Step 4. See the first 10 entries

In [55]:
baby_names.head(10)

       Name Gender State  Count
0      Emma      F    AK     62
1   Madison      F    AK     48
2    Hannah      F    AK     46
3     Grace      F    AK     44
4     Emily      F    AK     41
5   Abigail      F    AK     37
6    Olivia      F    AK     33
7  Isabella      F    AK     30
8    Alyssa      F    AK     29
9    Sophia      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [62]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [28]:
baby_names.Gender.value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [63]:
del baby_names['Year']

KeyError: 'Year'

In [66]:
names = baby_names.groupby('Name').sum()

In [65]:
names.sort_values("Count", ascending = 0).head()

,Gender,State,Count
Name,,,
Jacob,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,242874
Emma,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214852
Michael,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214405
Ethan,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,209277
Isabella,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,204798

### Step 8. How many different names exist in the dataset?

In [42]:
baby_names['Name'].nunique()

17632

In [67]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [68]:
names.Count.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [69]:
len(names[names.Count == names.Count.min()])

2578

In [45]:
#baby_names['Name'].value_counts().tail()

Name
Terryn     1
Yanna      1
Zemirah    1
Emmilyn    1
Coalton    1
Name: count, dtype: int64

### Step 11. What is the median name occurrence?

In [49]:
baby_names.groupby('Name').median()

TypeError: agg function failed [how->median,dtype->object]

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.