<a href="https://colab.research.google.com/github/SoheeKim12/Python_Programming_Study/blob/main/pandas_exercises/05_Merge/Housing%20Market/Exercises_sh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
series1 = pd.Series(np.random.randint(1, 5, size=100)) # randint: 임의의 정수 생성
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))

In [14]:
series3

0     23041
1     14266
2     23448
3     20258
4     27655
      ...
95    29967
96    17308
97    18608
98    19987
99    15954
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
# df = pd.DataFrame({'0':series1, '1':series2, '2':series3})

In [18]:
df = pd.concat([series1, series2, series3], axis=1)

In [19]:
df.head()

   0  1      2
0  4  3  23041
1  4  1  14266
2  3  1  23448
3  2  1  20258
4  2  2  27655

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [26]:
df.columns = (['bedrs', 'bathrs', 'price_sqr_meter'])

In [27]:
df.head()

   bedrs  bathrs  price_sqr_meter
0      4       3            23041
1      4       1            14266
2      3       1            23448
3      2       1            20258
4      2       2            27655

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [28]:
#bicolumn = pd.concat([pd.Series(series1), pd.Series(series2), pd.Series(series3)], axis=0)

In [35]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)

In [34]:
# Set the display option to show all rows and columns without truncation
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns (if you have multiple columns)
pd.set_option('display.expand_frame_repr', False)  # Prevent wrapping to a new line

bicolumn

0         4
1         4
2         3
3         2
4         2
5         2
6         2
7         3
8         1
9         1
10        4
11        4
12        3
13        4
14        2
15        1
16        4
17        3
18        1
19        1
20        1
21        4
22        2
23        1
24        4
25        1
26        1
27        3
28        1
29        3
30        3
31        2
32        3
33        4
34        2
35        1
36        3
37        2
38        2
39        4
40        3
41        3
42        3
43        2
44        4
45        3
46        2
47        3
48        3
49        1
50        1
51        2
52        4
53        2
54        3
55        4
56        1
57        2
58        3
59        3
60        4
61        3
62        2
63        2
64        4
65        4
66        4
67        1
68        2
69        2
70        1
71        4
72        2
73        3
74        3
75        4
76        2
77        4
78        2
79        4
80        3
81        3
82        4
83        1
84        2
85        1
86        2
87        4
88        1
89        4
90        2
91        2
92        1
93        2
94        4
95        3
96        1
97        3
98        2
99        2
0         3
1         1
2         1
3         1
4         2
5         2
6         2
7         1
8         1
9         2
10        1
11        3
12        1
13        2
14        1
15        1
16        2
17        1
18        2
19        3
20        2
21        2
22        2
23        2
24        2
25        2
26        1
27        1
28        2
29        3
30        2
31        1
32        1
33        3
34        3
35        3
36        1
37        1
38        1
39        2
40        2
41        3
42        1
43        3
44        2
45        1
46        3
47        1
48        1
49        3
50        2
51        3
52        3
53        2
54        1
55        1
56        3
57        3
58        3
59        2
60        3
61        1
62        2
63        1
64        2
65        1
66        1
67        3
68        2
69        1
70        2
71        3
72        1
73        3
74        1
75        3
76        2
77        2
78        2
79        2
80        1
81        2
82        1
83        3
84        1
85        1
86        2
87        3
88        3
89        3
90        2
91        3
92        2
93        2
94        2
95        2
96        1
97        3
98        2
99        1
0     23041
1     14266
2     23448
3     20258
4     27655
5     26576
6     27129
7     29622
8     29934
9     10797
10    14694
11    12983
12    18319
13    29224
14    28462
15    29897
16    29885
17    15591
18    26251
19    25094
20    10990
21    20005
22    17377
23    16801
24    21887
25    10688
26    16326
27    14937
28    10739
29    14860
30    26857
31    18256
32    20023
33    27600
34    19318
35    28601
36    20647
37    27735
38    21478
39    17325
40    24512
41    25011
42    21222
43    17386
44    12549
45    19958
46    25839
47    26552
48    17692
49    12184
50    28987
51    20109
52    10835
53    25249
54    24765
55    13985
56    27231
57    17303
58    27858
59    11205
60    19504
61    29257
62    11710
63    17248
64    25156
65    19981
66    17167
67    17020
68    21904
69    23022
70    24581
71    16744
72    21909
73    13307
74    22153
75    13114
76    18338
77    14211
78    28780
79    12510
80    13295
81    27334
82    11949
83    17707
84    20763
85    21495
86    24057
87    11472
88    29676
89    24853
90    11496
91    26893
92    28507
93    28202
94    11588
95    29967
96    17308
97    18608
98    19987
99    15954
dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [36]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [37]:
bicolumn = bicolumn.reset_index(drop=True) # drop: 기존 인덱스 제거

bicolumn

0          4
1          4
2          3
3          2
4          2
5          2
6          2
7          3
8          1
9          1
10         4
11         4
12         3
13         4
14         2
15         1
16         4
17         3
18         1
19         1
20         1
21         4
22         2
23         1
24         4
25         1
26         1
27         3
28         1
29         3
30         3
31         2
32         3
33         4
34         2
35         1
36         3
37         2
38         2
39         4
40         3
41         3
42         3
43         2
44         4
45         3
46         2
47         3
48         3
49         1
50         1
51         2
52         4
53         2
54         3
55         4
56         1
57         2
58         3
59         3
60         4
61         3
62         2
63         2
64         4
65         4
66         4
67         1
68         2
69         2
70         1
71         4
72         2
73         3
74         3
75         4
76         2
77         4
78         2
79         4
80         3
81         3
82         4
83         1
84         2
85         1
86         2
87         4
88         1
89         4
90         2
91         2
92         1
93         2
94         4
95         3
96         1
97         3
98         2
99         2
100        3
101        1
102        1
103        1
104        2
105        2
106        2
107        1
108        1
109        2
110        1
111        3
112        1
113        2
114        1
115        1
116        2
117        1
118        2
119        3
120        2
121        2
122        2
123        2
124        2
125        2
126        1
127        1
128        2
129        3
130        2
131        1
132        1
133        3
134        3
135        3
136        1
137        1
138        1
139        2
140        2
141        3
142        1
143        3
144        2
145        1
146        3
147        1
148        1
149        3
150        2
151        3
152        3
153        2
154        1
155        1
156        3
157        3
158        3
159        2
160        3
161        1
162        2
163        1
164        2
165        1
166        1
167        3
168        2
169        1
170        2
171        3
172        1
173        3
174        1
175        3
176        2
177        2
178        2
179        2
180        1
181        2
182        1
183        3
184        1
185        1
186        2
187        3
188        3
189        3
190        2
191        3
192        2
193        2
194        2
195        2
196        1
197        3
198        2
199        1
200    23041
201    14266
202    23448
203    20258
204    27655
205    26576
206    27129
207    29622
208    29934
209    10797
210    14694
211    12983
212    18319
213    29224
214    28462
215    29897
216    29885
217    15591
218    26251
219    25094
220    10990
221    20005
222    17377
223    16801
224    21887
225    10688
226    16326
227    14937
228    10739
229    14860
230    26857
231    18256
232    20023
233    27600
234    19318
235    28601
236    20647
237    27735
238    21478
239    17325
240    24512
241    25011
242    21222
243    17386
244    12549
245    19958
246    25839
247    26552
248    17692
249    12184
250    28987
251    20109
252    10835
253    25249
254    24765
255    13985
256    27231
257    17303
258    27858
259    11205
260    19504
261    29257
262    11710
263    17248
264    25156
265    19981
266    17167
267    17020
268    21904
269    23022
270    24581
271    16744
272    21909
273    13307
274    22153
275    13114
276    18338
277    14211
278    28780
279    12510
280    13295
281    27334
282    11949
283    17707
284    20763
285    21495
286    24057
287    11472
288    29676
289    24853
290    11496
291    26893
292    28507
293    28202
294    11588
295    29967
296    17308
297    18608
298    19987
299    15954
dtype: int64